#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	meson setup obj-debian --prefix=/usr --sysconfdir=/etc --buildtype=release

override_dh_auto_build:
	meson compile -C obj-debian

override_dh_auto_test:
	meson test -C obj-debian

override_dh_auto_clean:
	rm -rf obj-debian
